 @import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

 *::-webkit-scrollbar {
     width: 4px;
 }

 *::-webkit-scrollbar-thumb {
     background-color: #3a77ff;
 }

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Host Grotesk", sans-serif;
     text-decoration: none;
 }

 html,
 body {
     height: 100%;
     width: 100%;
 }

 body {
     background-color: ghostwhite;
 }

 header {
     position: sticky;
     top: 0;
     z-index: 100;
     background-color: #f8f8ff;
     border-bottom: 1px solid #80808061;
 }

 ._98ffc34e {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
 }

 ._8113da19 {
     height: 3.2rem;
     width: 3.6rem;
     fill: #002f34;
 }

 #logoArea {
     display: flex;
     align-items: center;
     padding: 10px 100px;
 }

 .dev {
     margin-left: 35px;
     margin-right: 10px;
     background: linear-gradient(180deg, rgba(0, 47, 52, .16), rgba(0, 47, 52, .01) 81.77%, rgba(0, 47, 52, .01));
     border-radius: 50%;
     height: 40px;
     padding: .8rem;
     width: 40px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .devSpan {
     font-weight: 700;
     color: #222;
     cursor: pointer;
 }

 .devSpan:hover {
     color: #3a77ff;
 }

 .search-bar-container {
     display: flex;
     align-items: center;
     gap: 20px;
     font-family: Arial, sans-serif;
     width: 100%;
     max-width: 85%;
     margin: 20px 100px;
 }

 .location {
     display: flex;
     align-items: center;
     border: 1px solid #ddd;
     border-radius: 5px;
     padding: 6px 10px;
     gap: 10px;
     background-color: #fff;
     width: 260px;
     font-size: 18px;
     color: #002f34;
     padding-right: 30px;
     cursor: pointer;
 }

 .location-icon {
     width: 16px;
     font-size: 20px;
 }

 .dropdown-icon {
     width: 10px;
     margin-left: auto;
     font-size: 30px;
 }

 .search-bar {
     display: flex;
     align-items: center;
     flex-grow: 1;
     border-radius: 5px;
     overflow: hidden;
     cursor: pointer;
 }

 .search-input {
     border-radius: 4px;
     flex: 1;
     padding: 14px 10px;
     font-size: 18px;
     border: none;
     outline: none;
     border: 1px solid #ddd;
     cursor: pointer;
 }

 .search-btn {
     border: 1px solid #002f34;
     padding: 6px 0px;
     background-color: #002f34;
     color: white;
     cursor: pointer;
     width: 60px;
     font-size: 30px;
 }

 .login {
     font-weight: 800;
     cursor: pointer;
     text-decoration: underline;
     font-size: 20px;
     color: #222;
 }

 * {
     -webkit-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }

 .login:hover {
     text-decoration: none;
 }

 #sell-button img {
     width: 140px;
     vertical-align: middle;
     cursor: pointer;
 }

 #eight-spans {
     padding: 15px 100px;
     display: flex;
     align-items: center;
     gap: 25px;
     color: #002f34;
     transition: all 0.3s;
     cursor: pointer;
 }

 #eight-spans span:hover {
     color: #00a49f;
 }

 #all {
     font-weight: 700;
     font-size: 20px;
 }

 #all:hover {
     color: #002f34 !important;
 }

 #banner {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 0px 25px;
 }

 #banner img {
     max-width: 100%;
     height: auto;
     border-radius: 8px;
 }


 .categories-section {
     padding: 30px 100px;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
     gap: 20px;
     justify-items: center;
 }

 .category {
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
 }

 .category img {
     width: 100px;
     height: 100px;
     cursor: pointer;
 }

 .category span {

     margin-top: 10px;
     font-size: 14px;
     font-weight: bold;
     color: #333;
 }

 .h1 {
     font-size: 35px;
     padding: 20px 40px;
     padding-bottom: 0;
 }

 .cards-container {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
     gap: 20px;
     padding: 40px;
 }

 .card {
     background-color: white;
     border-radius: 10px;
     overflow: hidden;
     display: flex;
     flex-direction: column;
     cursor: pointer;
     box-shadow: 0 3px 0px #222;
     border: 1px solid #222;
 }



 .card img {
     width: 100%;
     height: 180px;
     object-fit: cover;
 }

 .card-content {
     padding: 15px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     flex-grow: 1;
 }

 .card-content .price {
     font-size: 18px;
     font-weight: bold;
     color: #333;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .price i {
     font-weight: 400;
     font-size: 25px;
     cursor: pointer;
 }

 .card-content .title {
     font-size: 16px;
     color: #555;
     margin: 10px 0;
 }

 .card-content .location-time {
     font-size: 14px;
     color: #888;
     margin-bottom: 10px;
 }

 .card-content .location-time span {
     display: block;
 }

 .card-heart {
     align-self: flex-end;
     margin-top: auto;
     cursor: pointer;
 }

 .card-heart img {
     width: 24px;
     height: 24px;
 }

 @media screen and (min-width:1400px) {
     #responsive-section {
         max-width: 80%;
         margin: auto;
     }
 }

 @media screen and (min-width:1700px) {
     #responsive-section {
         max-width: 65%;
         margin: auto;
     }
 }

 @media screen and (min-width:2000px) {
     #responsive-section {
         max-width: 60%;
         margin: auto;
     }
 }

 @media screen and (min-width:2400px) {

     #responsive-section,
     #searchArea,
     #logoArea {
         max-width: 50%;
         margin: auto;
     }
 }

 @media screen and (min-width:2900px) {

     #responsive-section,
     #searchArea,
     #logoArea {
         max-width: 44%;
         margin: auto;
     }
 }

 @media (max-width: 768px) {
     #searchArea {
         display: none;
     }


     .container {
         grid-template-columns: repeat(3, 1fr);
         padding: 30px 20px;
     }

     .categories-section {
         padding: 30px 0px;
     }

     #logoArea {
         padding: 10px 20px;
     }

     .search-bar-container {
         margin: 20px;
     }

     #eight-spans {
         padding: 15px 7px;
         flex-wrap: wrap;
         justify-content: center;
         gap: 12px;
     }

     .cards-container {
         padding: 40px 60px;
     }

     .h1 {
         font-size: 35px;
     }

     .footer-bottom {
         text-align: center;
     }

 }

 footer {
     background-color: #ebeeef;
     padding: 40px 20px;
     color: #002f34;
 }

 .footer-container {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
     gap: 20px;
     text-align: left;
 }

 .footer-column h4 {
     margin-bottom: 15px;
     font-size: 16px;
     font-weight: bold;
 }

 .footer-column ul {
     list-style: none;
     padding: 0;
     margin: 0;
 }

 .footer-column ul li {
     margin-bottom: 10px;
 }

 .footer-column ul li a {
     text-decoration: none;
     color: #002f34;
     transition: color 0.3s;
 }

 .footer-column ul li a:hover {
     color: #017f7f;
 }

 .footer-social-icons {
     display: flex;
     gap: 10px;
     justify-content: center;
     align-items: center;
     margin-bottom: 20px;
 }

 .footer-social-icons .icon-placeholder {
     width: 24px;
     height: 24px;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     border: 1px solid black;
 }

 .app-badges {
     display: flex;
     gap: 10px;
     justify-content: center;
 }

 .app-badges .badge-placeholder {
     width: 120px;
     height: 40px;
     display: inline-block;
 }

 .footer-bottom {
     background-color: #002f34;
     color: #fff;
     text-align: end;
     padding: 10px 20px;
     font-size: 14px;
 }


 @media (max-width: 500px) {

     .location,
     .search-input {
         display: none;
     }

     .search-btn {
         border-radius: 50%;
         width: 60px;
         height: 60px;
         transition: all 0.4s;
     }

     .search-btn:active {
         background-color: #024c54;
     }

     #logoArea {
         font-size: 15px;
         padding: 10px;
         display: flex;
         justify-content: center;
     }

     .categories-section {
         grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
         padding: 30px 10px;
     }

     .category img {
         width: 80px;
         height: 80px;
     }

     .search-bar {
         flex-grow: 0;
     }

     .search-bar-container {
         margin: 15px 80px;
     }

 }
